body{
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
}

.App{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  margin-top: 10px;
  width: 96%;
  border: 2px solid transparent;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
header{
  border-bottom: 2px solid  rgb(207, 214, 220);
   background-color: aliceblue;
  width:81%;
  height: auto;
  display: flex;
 align-items: flex-end;
  padding: 20px;
  position: fixed;
  left:8.2%;
  z-index: 1;

}
.logo_holder{
  display: inline-flex;

  padding: 0%;
}
.logo_holder h4{
  margin: auto;
  text-shadow: 0 0 black;
  color: #FFA000;
  margin-top: 20px;
  padding: 0px 5px;
}
.main_menu{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  width: auto;
  margin-left: 50px;

}
.main_menu >ul{
  padding: 0%;
  margin: 0%;
  list-style-type:none;
  
  display: inline-flex;
  align-items:flex-end;
}
.main_menu ul li button{
  padding: 10px 15px;
  margin:5px 20px ;
  border: 2px solid transparent;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0px;
}
.main_menu ul li button:hover{
  background-color: #FFA000;
  color: aliceblue;
}

.drop_menu{
  width: auto;

  margin: 0%;
  list-style-type:none;
  position: absolute;
  z-index: 1000;
  display: none;
}
.drop_menu li {
  background-color:aliceblue;
  padding:3px 9px;
    color:#FFA000;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border: 5px solid transparent;
    border-radius: 2px;
}
.drop_menu li:hover{
  background-color:#FFA000;
  color: aliceblue;
}
.main_menu ul li:hover .drop_menu{
  display: block;

 
}
.cart_holder{

  margin-left: auto;
  padding: 10px;

}
.content_1{
  width: 87%;
  height: 100%;
  margin: auto;
  margin-top: 7rem;
  border:3px solid rgb(207, 214, 220);
  border-radius: 3px;
 position: relative;
    
  
}
.slide_img{
  width: 100%;

  display: flex;
}
.content_1  .slide_img img{
  width: 50%;
  height: 100%;


}
.content_write_1{
position: absolute;
  width: auto;
   left: 25%;
   right: 25%;


}
.content_1 h1{
  width: auto;
  text-align: center;
  color: #FFA000;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  padding: 10px;
  margin: 10px;
  
}
.content_1 button{
  width: auto;
  padding: 10px 20px;
  margin: 0px 260px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
 color: antiquewhite;
  background-color:#FFA000;
  border: 2px solid #FFA000;
  border-radius: 3px;
}
.row{ 

  width: 87%;
  display: flex;
  margin: auto;
  margin-top: 10px;
}
.col-1{
 
  font-size: 1rem;
  flex: 50%;
}
.col-2{
 
  font-size: 1rem;
  flex: 50%;
 
}
.row-2{
  display: inline-grid;

  width: 100%;
  grid-template-columns: repeat(3,1fr);
  column-gap: 2px;
  row-gap: 2px;
}
.row-2 .img{
  margin: auto;
  width: auto;
background-color: #ffffff;

 
}
.row-2 .img:hover{
background-color: #FFA000;

 
}

.row-2 img{
  margin: auto;
  width: 125px;
 
}
.row-2 .img-price {
   margin: auto;
     width: auto;

}
.row-2 .img-price p{
  margin: auto;
}
.col-1 .multi_img{
   width: 270px;
   
    margin: auto;
}
.col-1 ul li{
  padding: 10px;
  margin: 0%;
  list-style-type: none;
}
.col-1 ul li:nth-child(1){
  color: #FFA000;
}
.col-1 .multi_img img{
  margin: auto;
  
}
.quantity{
  display: flex;
  margin: 10px 0px;
  width:250px;

}
.quantity input{
  margin: auto;
}

.buy_cart{
  display: flex;
  align-items:flex-start;
  width: 500px;
  padding:20px;

}
.buy_cart button{
  margin: 10px;
  padding:10px 30px;
  font-size: 1rem;
  font-weight: 600;
  color:#FFA000;
  background-color: transparent;
  border: 2px solid #FFA000;

}
.buy_cart button:hover{
   background-color: #FFA000;
   border-color: #ffffff;
   color: #ffffff;
}
.col-1 .multi_img {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.6);
background-color:rgb(149, 158, 166);
}
span{
  color: #FFA000;
}