.Probg {
    border: 1px solid transparent;
    background-color: bisque;
    border: 1px solid bisque;
}
.prohead-container{
    padding-top:2rem;
  border: 0px solid transparent;
  border-bottom: white;
    background-color: bisque;
    
}
.Product-wrapper{
    border:7px solid bisque;
   border-radius: 3px;
    width:90%;
    margin:4rem auto 5rem;
    background-color: white;
   
}

.Product-wrapper .row{

padding: 0%;

}
.Product-wrapper .col-6{
    border:none;
   width: 50%;
   padding: 0%;
  
  
  

}
.Products-list-wrapper{
    padding: 0rem;
    border: none;
 

}
.Product-wrapper .col-6 button{
    font-size: 1.5em;
    font-weight: 600;
    font-family: sans-serif;
    border:none;
    
    width: 100%;
    padding: 0.5rem ;
 
    
}
.Face_products_list{
    background-color: white;
    padding: 1rem;
   
 
}
.Face_products_contents_wrapper{
    background-color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    row-gap: 2em;
   padding: 1rem ;
   margin-top: 1rem;
}
.Face_products_contents{
    padding: 1rem ;
    padding-left: 1rem;
    width:auto;
    background-color: bisque;
    margin: auto;
    border-radius: 2%;
   
    
}
.Face_products_contents h3{
    color: brown;
    
  
}
.Fproducts_image_wrapper{
    display: flex;
    height: 15rem;
    width:16rem;
  
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform 2s;
 
}
.Fproducts_image_wrapper:hover{
    transform:rotateY(180deg);
 
}
.Fproducts_image_wrapper img{
    max-width:16rem;
     max-height: 15rem;
     aspect-ratio: 4/4;
      object-fit: cover;
     
    
    
}
.front-face{
    max-height: 16rem;
    position:absolute;
   background-color: bisque;
   backface-visibility: hidden;
   transform: rotateY(0deg);
     }
     .front-face_2{
        max-height: 20rem;
        position:absolute;
       background-color: bisque;
       backface-visibility: hidden;
       transform: rotateY(0deg);
         }
     .back-face{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:brown;
        backface-visibility: hidden;
        width: auto;
        max-height: 16rem;
        padding: 1em;
        border:5px solid aliceblue;
        transform: rotateY(180deg);
     }
     .back-face_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:brown;
        backface-visibility: hidden;
        width: auto;
        max-height: 18rem;
        padding: 1em;
        border:5px solid aliceblue;
        transform: rotateY(180deg);
     }
.Card-Title{
   background-color:aliceblue;
   color:rgb(81, 22, 12);
   width: 4rem;
   font-size: 1em;
   font-weight: 600;
   text-align: center;
   border-radius: 4px;

}

.Fproducts_buttons button{
   margin-top: 0.5em;
   margin-left: 0.2em;
    padding: 0.8em;
    border-radius: 0.5rem;
    background-color: white;
    color: brown;
    font-size: medium;
    font-weight: 600;
    border: transparent;

}
.Fproducts_buttons button:hover{
      
     background-color:brown;
     color: white;
 
 }
.Bproducts_list{
    background-color: white;
    padding: 1rem;
 
}
.Body_products_content_wrapper{
   
    background-color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    row-gap: 2em;
   padding: 1rem ;
   margin-top: 2rem;
 
  
}
.Body_products_contents{
    padding: 1rem ;
    width:auto;
    background-color: bisque;
    margin: auto;
    border-radius: 2%;

}

.Body_products_contents h3{
    margin-top:1em;
    color: brown;
    font-size: larger;
}
.price{
   
    color: rgb(81, 22, 12);
    font-size: 1.2em;
    font-weight:600;
    width: 4rem;
    
    
}
.face_des{
    font-size: small;
    width:auto;
    height: fit-content;
}
.body_des{
    font-size:small;
    width:auto;
    height: 8rem;
}
.Bproducts_image_wrapper {
    display: flex;
    max-width:16rem;
    height: 12rem;
   margin-bottom: 0.5em;
  
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform 2s;
 
}
.Bproducts_image_wrapper:hover{
    transform:rotateY(180deg);
}
.Bproducts_image_wrapper  img{
  
    max-width:16rem;
    max-height: 12rem;
   
   
     
     
}
.Bproducts_buttons button{
      
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: white;
    color: brown;
    font-size: medium;
    font-weight: 600;
    border: transparent;
  

}

.Bproducts_buttons button:last-child{
      margin-left: 0.2em;
   
 
 }
 .Bproducts_buttons button:hover{
       
      background-color:brown;
      color: white;
  
  }
 

  @media(max-width:480px){

    .Product-wrapper{
        border:7px solid bisque;
       border-radius: 10px;
        width:100%;
        margin: auto;
        margin-top:35%;
        background-color: white;
       
    }
    .Product-wrapper .col-6 button{
        font-size:1.5em;
      
        
    }
    
    .Face_products_list{
    
        padding: 0.5rem;
       
    }

    .Face_products_contents_wrapper{
        
       gap: 0em;
       padding: 1rem;
      
    }
   
    .Face_products_contents h2{
        font-size: 0.8em;
    }
    .Face_products_contents p{
        font-size: 0.6em;
    }
    .Face_products_contents{
        padding: 1rem;
        width:40%;
        background-color: bisque;
        margin: auto;
        border-radius: 2%;
        margin-top: 1rem;
        
    }
    .Fproducts_image_wrapper{
        display: flex;
        
        justify-content: center;
     
    }
    .Fproducts_image_wrapper img{
      
        max-width: 6rem;
         height: 6rem;
         margin-bottom: 0.5rem;
       
         
         
    }
    
    .Fproducts_buttons button{
       margin: 0.2rem;
        padding: 0.4rem;
       
       
        font-size: 0.7em;
        font-weight: 600;
        border: transparent;
    
    }
    .Bproducts_list{
        background-color: white;
        padding: 1rem;
     
    }
    .Body_products_content_wrapper{
     
       gap: 0em;
       padding: 0.5rem; 
    }
    .Body_products_content{
    
        padding: 1rem;
        width:40%;
        background-color: bisque;
        margin: auto;
        border-radius: 2%;
        margin-top: 1rem;
    
    }
    .Bproducts_image_wrapper{
        display: flex;
        
        justify-content: center;
     
    }
    .Bproducts_image_wrapper img{
      
        max-width: 6rem;
         height: 6rem;
         margin-bottom: 0.5rem;
       
         
         
    }
    
    .Bproducts_buttons button{
       
        margin: 0.2rem;
        padding: 0.4rem;
   
        font-size: 0.7em;
        font-weight: 600;
    
     
     }
     .Bproducts_details h2{
             font-size: 0.8em;;
     }
     .Bproducts_details p{
        font-size: 0.6em;;
}
   
  }


