.nav{
 width: 80%;
}
.nav-item 
 {
    margin: auto;
   padding: 2%;
    
   

}
.nav-item .bts-navi
 {
    display: flex;
    flex-direction: column;
     font-weight: 600;
    color: grey ;
   

}
.nav-item .bts-navi-current
 {
  padding:20%;
  border: 2px solid red;
  border-radius: 5%;

      color: aliceblue ;
    background-color: #D70040;
   

}

.nav-item .nav-link{
  
    padding:25%;
    border: 2px solid transparent;
    border-radius: 50%;
}

.nav-item .bts-navi:hover
 {
    background-color:#D70040 !important;
    color: azure !important;

}

@media screen and (max-width:530px){

  
  .nav-item{
    padding-left: 0%;
    margin: auto;
    margin-left: 0%;
  } 
  .nav{
    width: auto;
   
      padding: 2%;
     
  
   }

}