.infodet{
  padding-left: 8%;
}
 

.pro-container {

    height: auto;
    width: auto;
    align-items: center;
   
  
 
  }
  
  .wrapper {
    transition: 0.5s ease-in;
  
    height: auto;
    width: auto;
  
    transform: translateX(100%);
  }
  
  .block1 {
    border: 2px solid blue;
 
  

  
  }
  .wrapper img {
   width: 100%;
   height: auto;
    object-fit: cover;
    border-radius: 2%;
  
  }
  .wrapper:hover {
   transform: translateX(0%);
  
   
  
  }

  .block2{

   
    transition: 0.2s ease-in;
    border:2px solid green;
    z-index: 999;
  }
  
  
  .para{
  
    height: 50%;
    width: 50%;
    font-size: 1rem;
  
    overflow: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(90, 236, 27);
    background-color: rgb(230, 255, 244);
     border:2px solid rgb(8, 57, 97);
   }
   .alink{
  margin: auto;
   width:fit-content;
  }
.linktopro{

  color: red;
  text-decoration: none;
}
.linktopro:hover{
  color: rgb(12, 210, 237);
  text-decoration: none;
}
.project-title{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: underline;
}
@media screen  and (min-width: 1024px) and (max-width: 1381px) {
  .pro-container .para {
   
  
    font-size: 0.5rem;
    overflow: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(236, 107, 27);
    background-color: rgb(230, 255, 244);
    border: 2px solid rgb(8, 57, 97);
  }
  .alink{
    margin: auto;
   width: fit-content;
  text-decoration: none;
 
    }
  .linktopro{
  width: auto;
    font-size: 0.5rem;
    color:red;
    text-decoration: none;
  }
  .linktopro:hover{
    color: rgb(12, 210, 237);
    text-decoration: none;
  }
}

@media screen and (max-width:992px) {
  
 
  


  
  
  .pro-container .para {


    font-size: 0.5rem;
  
    overflow: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(236, 107, 27);
    background-color: rgb(230, 255, 244);
    border: 2px solid rgb(8, 57, 97);
  }
  .alink{
    margin: auto;
   width: fit-content;
   font-size: 0.2rem;
  
 
    }
  .linktopro{
    padding: 0px !important;
    font-size: 0.2rem;
    color: rgb(26, 209, 54);
    text-decoration: none;
  }
  .linktopro:hover{
    color: rgb(15, 89, 99);
    text-decoration: none;
  }
}
@media screen and (max-width:530px){

  
  .pro-container .para {
   
    width: 100px;
    height:70px;
 
    font-size: 1rem;

     overflow: auto;
     overflow-inline:auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(239, 112, 9);
    background-color: rgb(230, 255, 244);
    border: 2px solid rgb(8, 57, 97);
  }
  .wrapper img{
    height: 90px;
    width: 100px;
   z-index: 2000;

  }
  
  .alink{
  
    text-decoration: none;
  }
  .linktopro{
    
     font-size: 1rem;
     color: rgb(205, 227, 7);
    font-size: 0.01rem;
   font-weight: 400;
    text-decoration: none;
  }
  .wrapper:hover {
    transform: translateX(-50%);}

}