
.side-content{

    border: 2px solid rgb(255, 255, 255);
    margin: 10%;
    margin-top: 50%;
    border-radius: 4%;
    background-color: rgb(232, 255, 220);
}
.profile-img-wrap{
   
    position: relative;
  
  
}
.profile-img-wrap img{
    border: 3px solid rgb(255, 255, 255);
    position:absolute;
  background-color: blanchedalmond;
    margin-top: -30%;
    left:25%;
}
.profile-content{

    color: rgb(83, 76, 4);
    margin: auto;
   margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    flex-wrap: wrap
    
    

}
.profile-title{
     width:auto;
   color: rgb(246, 230, 15);
   margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.8em;
    
    
}
.profile-subtitle{
    
 padding: 2%;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;    
    padding: 2%;
    margin-bottom: 2%;
}
.profilerow{
    display: flex;
  
    font-size: 1rem;
    margin-top: 2%;
    padding: 2%;
    
}
.pro-icon{
    margin-right: 5%;
}