.header{
  backface-visibility: visible;
  backdrop-filter: blur(20px);
  position: fixed; 
  width:100%;
    font-family: "Sofia",cursive;
    font-weight: 400;
    
  font-style: normal;
  z-index: 1;
}
.navbar{
 
  background-color: transparent;
}
.nav-link{
       color: rgba(163, 234, 63, 0.889);
       font-size: 1.5rem;
      font-weight: 400;
     
       background: linear-gradient(to right,transparent 50%, rgb(22, 165, 22) 50%);
       background-size: 200% 100%;
       transition: background-position  0.4s ease-in-out;
  
 }
 .nav-link:hover{
 
       color: white;
     
        background-position: -100% 0%;
       
 }
 .navdropdownitem {
   color: green;
 }
 .navdropdownitem:hover {
    background-color: rgb(9, 190, 9);
    color: white;

  }